*{
  margin: auto;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

#header{
  height: 15vh;
  width: 100vw;
  background-color: blue;
}
#content{
  height: 70vh;
  width: 100vw;
  background-color: yellow;
}
#footer{
  height: 15vh;
  width: 100vw;
  background-color: pink;
}

#sidebar1{
  height: 100vh;
  width: 15vw;
  float: left;
  background-color: grey;
}

#sidebar2{
  height: 100vh;
  width: 15vw;
  float: right;
  background-color: darkblue;
}
